<%- include('../partials/header.ejs') %>
<p><%= Player.name %></p> 
 <form action="/players/<%= player._id %>?_method=DELETE" method="POST"> 
    <button class="submit" type="submit">Delete</button> 
</form>
<%- include('../partials/footer.ejs') %>