<%- include('../partials/header.ejs') %>
<p><%= team.name %></p> 
 <form action="/teams/<%= team._id %>?_method=DELETE" method="POST"> 
    <button type="submit">Delete</button> 

<%- include('../partials/footer.ejs') %>