<%- include('./partials/header.ejs') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   <nav>
      <a href="/">HOME or WHATEVER YOU WANT</a>
    </nav>
<%- include('./partials/footer.ejs') %>

